.etapa-div {
  clip-path: polygon(calc(100% - 6px) 0, 100% 50%, calc(100% - 6px) 100%, 2px 100%, 8px 50%, 2px 0);
  height: 25px;
  background-color: #65686f;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s;
}

.sub-child a {
  margin-inline: 31px !important;
}

.sub-child a i {
  visibility: visible !important;
}

.fc-dayGridMonth-view a.event-card {
  overflow: hidden;
}

.calendario-mobile {
  /* max-height: calc(90vh - 150px); */
  overflow-y: auto !important;
}

.agendamento-mobile-body footer.layout-footer {
  display: none;
}

.text-black {
  color: black !important;
}

.node-card {
  border: 1px #e6e2e2 solid;
  background-color: white;
  color: black;
  height: fit-content;
}

.etapa-div.etapa-first {
  border-radius: 4px 0 0 4px;
  clip-path: polygon(0 0, calc(100% - 6px) 0, 100% 50%, calc(100% - 6px) 100%, 0 100%);
}

.etapa-div.etapa-last {
  border-radius: 0 4px 4px 0;
  clip-path: polygon(100% 0, 100% 100%, 2px 100%, 8px 50%, 2px 0);
}

.etapa-div:hover {
  background-color: #3182ce99;
}

.layout-nav-type-vertical .layout-vertical-nav .nav-group .nav-group .nav-item-icon,
.layout-nav-type-vertical .layout-vertical-nav .nav-group .nav-link .nav-item-icon {
  font-size: 1.1rem !important;
  margin-inline-start: 1.1rem !important;
}

.diminuir-botao-svg {
  display: flex;
  padding: 0;
  align-items: center;
}

.diminuir-botao-svg svg {
  max-width: 22px;
}

.draggable,
.kanban-item {
  -ms-user-select: none;
  /* IE10+ */
  -webkit-user-select: none;
  /* Chrome, Safari */
  -moz-user-select: none;
  /* Firefox */
  user-select: none;
  /* Standard */
}

.draggable * {
  -ms-user-select: none;
  /* IE10+ */
  -webkit-user-select: none;
  /* Chrome, Safari */
  -moz-user-select: none;
  /* Firefox */
  user-select: none;
  /* Standard */
}


.grabbing * {
  cursor: grabbing !important;
}

.sortable-ghost,
.sortable-ghost *,
.sortable-chosen,
.sortable-chosen * {
  cursor: grabbing !important;
}

.kanban-board {
  display: flex;
  overflow-x: auto;
  margin-top: -10px;
}

.v-theme--light {

  .kanban-column,
  .kaban-header {
    background-color: #e2e2e7;
  }

}

.v-theme--dark {

  .kanban-column,
  .kaban-header {
    background-color: #2D3748;
  }
}

.kanban-column {
  margin: 10px;
  min-width: 290px;
  max-width: 300px;
  border-radius: 8px 35px 35px 8px;
  cursor: grab;
  height: calc(100vh - 180px);
  overflow-y: auto;
}

.kanban-column-blur:after {
  content: "";
  display: flex;
  width: 100%;
  background: #1A202C;
  background: linear-gradient(0deg, rgb(var(--v-theme-surface)) 16%,
      rgb(var(--v-theme-surface) / 0%) 100%);
  height: 30px;
  position: sticky;
  bottom: 0;
  z-index: 3;
}

.kaban-header {
  border-radius: 7px 7px 0px 0px;
  padding: 12px 14px 10px 14px;
  top: 0;
  z-index: 2;
}

.kaban-title {
  margin: 0;
  font-weight: 700;
  font-size: 13px;
}

.kanban-item {
  margin: 5px;
  padding: 10px;
  /*   background-color: #ffffff;
  border: 1px solid #ddd; */
  cursor: grab;
  margin-bottom: 15px;
  color: white;
  border-radius: 20px;
}

.ql-editor p,
.ql-editor ol,
.ql-editor ul,
.ql-editor pre,
.ql-editor blockquote,
.ql-editor h1,
.ql-editor h2,
.ql-editor h3,
.ql-editor h4,
.ql-editor h5,
.ql-editor h6 {
  color: black;
}

.select-var,
.select-var input::placeholder {
  color: black !important;
}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.linha-flex {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}

.zap.zapDesconectado a.router-link-active.router-link-exact-active {
  background: linear-gradient(72.47deg, #ff6e6e 22.16%, #f14c4c 76.47%) !important;
}

.ql-snow .ql-picker.ql-variable {
  width: 98px;
}

.ql-snow .ql-picker.ql-variable .ql-picker-label::before {
  content: "Variáveis";
}

.mensagem-box {
  background-color: #f5f5f5;
  background: url(https://www.fakewhats.com/images/iphone/app-bg.jpg) repeat;
  height: 100%;
  width: 100%;
  position: relative;
}

.v-theme--dark .mensagem-box {
  background-color: #000;
  background: url(https://i.pinimg.com/736x/cd/3d/62/cd3d628f57875af792c07d6ad262391c.jpg) repeat;
}

.carregando {
  content: "";
  z-index: 5;
  background-color: rgba(var(--v-theme-surface), 25%);
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  border: solid #b2b2b2;
  border-width: 1px 0px;
  padding: 10px;
}

.v-theme--dark .contact-header {
  background-color: rgba(var(--v-theme-surface));
  border: solid rgba(var(--v-theme-secondary), .5);
}

.contact-box {
  display: flex;
  gap: 13px;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 40px;
}

.contact-name {
  font-weight: 600;
  line-height: 17px;
}

.online-msg {
  line-height: 17px;
  font-size: 13px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
}

.message-item {
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
  border-radius: 13px;
  padding: 5px 10px;
  display: flex;
  margin: 5px;
  margin-left: 25px;
  color: #262923;
  max-width: 50%;
  min-width: 120px;
  width: fit-content;
  align-items: flex-end;
  min-height: 30px;
  justify-content: space-between;
  font-size: 14px !important;
}

.message-cliente {
  background-color: white;
}

.message-sistema {
  background-color: #dcf8c6;
  margin-left: auto;
  padding-right: 65px;
}

.v-theme--dark .message-cliente {
  background-color: #1f2d36;
}

.v-theme--dark .message-sistema {
  background-color: #094442;
}

.v-theme--dark .message-item {
  color: #fff;
}

.html-content p {
  margin: 0 !important;
}

.html-content {
  max-width: 100%;
}

.select-var .v-select {
  max-width: 150px;
  margin-left: 10px;
}

.inputQP {
  min-height: 200px;
}

#toolbar {
  display: flex;
  align-items: center;
}

.context-menu {
  position: absolute;
  border: 2px #3182ce solid;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 2px 3px 3px rgb(0 0 0 / 30%);
}

.content-html p {
  margin: 0;
}

.content-html ul {
  padding-left: 20px;
}

.inputQuill .ql-editor {
  background-color: #fff6d6;
  border-radius: 0px 0px 15px 15px;
  min-height: 200px;
}


.inputQP .ql-editor {
  background-color: white;
  border-radius: 0px 0px 15px 15px;
  min-height: 200px;
}

.inputQuill,
.inputQP {
  border-radius: 0px 0px 15px 15px;
  min-height: 200px;
}

.ql-toolbar.ql-snow {
  background-color: white;
  border-radius: 15px 15px 0px 0px;
}

.altura-input,
.altura-input.v-select .v-field__input,
.altura-input input {
  height: 45px !important;
}

.altura-input.v-select .v-field__input {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.altura-input.v-select.v-text-field .v-field__input input {
  margin-top: 0px;
}

.v-timeline--vertical.v-timeline--justify-auto {
  grid-template-columns: 0 min-content auto !important;
}

.linha-flex {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}


body .fc .fc-dayGridMonth-view .event-card {
  display: flex !important;
}

body .fc .event-card div {
  font-weight: 600 !important;
  font-size: 12px !important;
}

.fc-daygrid-event:hover .fc-event-main-frame {
  white-space: pre-wrap;
  display: flex;
  transition: .3s;
  flex-wrap: wrap;
}

.fc-daygrid-event {
  transition: .3s;
}

.noti-bar2 {
  position: fixed;
  top: 15px;
  right: 15px;
  background-color: white;
  box-shadow: -1px 0px 5px 1px #0000001a;
  border-radius: 100%;
  z-index: 999999999999999999999999999999;
}

@media(max-width: 768px) {
  body .fc .fc-header-toolbar {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    row-gap: 10px !important;
  }

  h2#fc-dom-1 {
    font-size: 14px !important;
    max-width: 300px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

  .layout-wrapper.layout-nav-type-vertical .layout-navbar,
  .layout-wrapper.layout-nav-type-vertical .layout-footer {
    padding-inline: 10px !important;
  }

  body .fc .fc-timegrid .fc-timegrid-slots .fc-timegrid-slot {
    block-size: 20px !important;
  }

  body .fc .fc-view-harness {
    height: 700px !important;
  }

  .fc-scroller-harness.fc-scroller-harness-liquid {
    height: 700px !important;
  }

  .noti-bar2 {
    display: none;
  }

  .layout-page-content {
    padding-inline: 0.5rem !important;
  }

  body .fc .fc-event {
    padding-inline: 0px !important;
    min-height: 100px;
  }

  body .fc .event-card div {
    font-size: 11px !important;
    display: flex;
    flex-direction: column;
  }

  body .fc .fc-col-header-cell-cushion {
    font-size: 10px !important;
  }

  body .fc .fc-event-time {
    white-space: break-spaces;
  }
}

.v-switch__track {
  min-width: 45px !important;
  block-size: 26px !important;
}

.v-switch.v-switch--inset .v-selection-control__input {
  transform: translateX(-10px) !important;
}

.v-switch .v-selection-control--dirty .v-selection-control__input {
  transform: translateX(8px) !important;
}

.fc-license-message {
  display: none !important;
}

.fc .fc-timegrid-col:after,
.fc .fc-timegrid-cols .fc-day:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Ajuste a altura conforme necessário */
  border-left: 1px solid var(--fc-border-color);
  z-index: 2;
}

.fc .fc-timegrid-col,
.fc .fc-timegrid-cols .fc-day {
  position: relative;
}
